---
import Splitter from "../../utils/Splitter/index.astro";
import Style from "./style.module.scss"

---


<section class={Style.root} id="a">
    <h1 data-appear-line-on-visible="true">
        <Splitter
            text="About me"
        />
        </h1>
    <p data-appear-line-on-visible="true">  
        <Splitter
            text="Passionate about new technologies, I wrote my first lines of code at 12 to create video games. Since then, the blend of creativity and engineering has never left me. Today, as a freelancer, I help businesses bring their digital ideas to life."
        />
    </p>
    <br/>
    <p style="padding-top : 16px" data-appear-line-on-visible="true">  
        <Splitter
            text="Curious and adventurous, I love traveling and immersing myself in new cultures. I've had the privilege of visiting in New York, London, and Oslo, each shaping my perspective and creativity."
        />
    </p>
</section>