body {
  /* background-color: rgb(50, 50, 50); */
}

/* canvas {
  border: red solid 1px;
} */
.button-wrapper {
position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  gap: 10px;
    -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

button {
  
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: aliceblue;
  opacity: 0.3;
  transition: all 0.3s ease;


  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  
  &:hover {
    opacity: 1;
  }
}