---
import Style from "./style.module.scss"
import Splitter from "../../utils/Splitter/index.astro"


---

<section class={Style.root}>


    <p
        data-appear-line-on-visible="true"
    >
        <Splitter
        
            text="Passionate about designing and programming digital experiences, I collaborate with various brands to enhance their digital presence by developing experiences, software and SaaS solutions."

        />

    </p>
    <h1 data-appear-line-on-visible="true">
        <Splitter
            text="I’m a Creative Fullstack Developper"
        />
        
    </h1>


</section>