---
import Splitter from "../../utils/Splitter/index.astro"
import Style from "./style.module.scss"
import Picture from "../../atoms/Picture/index.astro"
const {
    description,
    image
} = Astro.props
---

<div class={Style.root}>
    
    <Picture
        
        image={image}
    
    /> 


    <!-- <p >
        <Splitter
            text={description}     
        />
    </p> -->
</div>