---
import Style from "./style.module.scss"
import Button from "../../atoms/Button/index.astro"

---

<header class={Style.root}>

    <nav>
        <Button
            type="nav-link"
            to="/"
            text="VE"
        />
        <div>
            
            <Button
                type="nav-link"
                to="#w"
                text="W"
            />

            <Button
                type="nav-link"
                to="#l"
                text="L"
            />
            <Button
                type="nav-link"
                to="#a"
                text="A"
            />
        </div>
    </nav>



</header>

