@import "../../../assets/styles/_variables.scss";
@import "../../../assets/styles/_mixins.scss";


.root{
    position: fixed;
    width: 100vw;
    top: 64px;
    z-index: 1;
    nav{
    @include grid-layout();


    a{
        grid-column : 1/4
    }
    div{
        grid-column: 11/13;
        display: flex;
        gap: 12px;
    }
}
}
