@import "../../../assets/styles/_variables.scss";
@import "../../../assets/styles/_mixins.scss";


.root {
    position: relative;
    height: 300vh;
    // @include mq("tablet", max){
    // height: fit-content;

    // }

    .fixed_container{
        position: sticky;
        top: 0;
        left: 0;

        @include interpolate(
            padding-top,
            map-get($breakpoints, "tablet"),
            map-get($breakpoints, "desktop"),
            128px,
            220px
        );

        @include interpolate(
            padding-bottom,
            map-get($breakpoints, "tablet"),
            map-get($breakpoints, "desktop"),
            128px,
            220px
        );
        @include grid-layout();
        grid-template-rows: auto;

        h1 {
            grid-column: 8/13;
            padding-bottom: 64px;
            @include mq("tablet", max){
                grid-column: 1/9;
    
            }
        }
    
        .list {
            grid-column: 9/13;
            height: 50vh;
            display: flex;
                flex-direction: column;
                justify-content: space-between;
            @include mq("tablet", max){
                grid-column: 1/9;
    
            }
            ul {
                &:not(ul:last-child) {
    
                    padding-bottom: 64px;
                }
    
    
                h2 {
                    padding-bottom: 40px;
                    height: fit-content;
                }
    
    
    
    
                a {
                    display: flex;
                    justify-content: space-between;
                    padding: 8px 0px;
                }
            }
    
    
        }

    }
}