---
import Style from "./style.module.scss"
const {
    text,
    type
} = Astro.props
---
<span class={`${Style.sentence} at_splitted_text`} style={type==="word"  ? "gap : 0;!important" : ""}>
    {text.split(type==="word" ? "" : " ").map((word : string) => {

     return <span
            data-delay="0.03"
            class={`${Style.mask} at_splitted_mask`}
            data-space={word === " "}
        >
            <span
              class={`${Style.word} at_splitted_letter`}
              data-delay="0.03"
            >
                { word }
            </span>
        </span>
    })}
  </span>